/* Content design */
.content {

    margin-top:150px;
    padding:15px 15px 1800px;
    font-size:22px;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}