* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/* Navlist designing */
#navlist {
    overflow: hidden;
    background-color:  #919191;
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    position: relative;
    height: 100px;
}

#navlist a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 3px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    /*background-color: rgb(129, 129, 129);*/
}

#navlist #logo {
    transition: 0.4s;
    float: left;
    height: 50px;
    padding-left: 30px;
}

#navlist a:hover {
    color: #000000, 126, 81;
}

#navlist-right {
    margin-top: .10%;
    float: right;
    margin-right: 3%;
}
  
#socials {
    background-color: #919191; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #socials a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #socials a:hover {
    background-color: #ddd;
    color: black;
  }